In [1]:
x_inputs=[0.1,0.5,0.2]
w_weight=[0.4,0.3,0.6]
threshold=0.5

In [2]:
def step(weighted_sum):
    if weighted_sum>threshold:
        return 1
    else:
        return 0

In [3]:
def perceptron():
    weighted_sum=0
    for x,w in zip(x_inputs,w_weight):
        weighted_sum+=x*w
        print(weighted_sum)
    return step(weighted_sum)

In [4]:
output=perceptron()

print("output=" , output)

0.04000000000000001
0.19
0.31
output= 0

Perceptron Sklearn

In [5]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split

In [6]:
data=pd.read_csv('titanic.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
data1=data.drop(["Name","PassengerId","Ticket","Embarked","SibSp","Parch","Fare","Cabin"],axis=1)
data1

     Survived  Pclass     Sex   Age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

In [8]:
data1.head()

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

In [9]:
data1.tail()

     Survived  Pclass     Sex   Age
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

In [10]:
print(data1['Age'].isnull().sum())

177

In [11]:
data1['Age'].fillna(data1['Age'].mean(), inplace=True)

In [12]:
data1['Age'] = data1['Age'].astype(int)

In [13]:
data1['Sex']=data1['Sex'].replace(['male'],1)
data1['Sex']=data1['Sex'].replace(['female'],0)

In [14]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    int32
dtypes: int32(1), int64(3)
memory usage: 24.5 KB

In [15]:
x=data1.drop("Survived",axis=1)
y=data1['Survived']

In [16]:
x

     Pclass  Sex  Age
0         3    1   22
1         1    0   38
2         3    0   26
3         1    0   35
4         3    1   35
..      ...  ...  ...
886       2    1   27
887       1    0   19
888       3    0   29
889       1    1   26
890       3    1   32

[891 rows x 3 columns]

In [17]:
x.shape

(891, 3)

In [18]:
x.describe()

           Pclass         Sex         Age
count  891.000000  891.000000  891.000000
mean     2.308642    0.647587   29.544332
std      0.836071    0.477990   13.013778
min      1.000000    0.000000    0.000000
25%      2.000000    0.000000   22.000000
50%      3.000000    1.000000   29.000000
75%      3.000000    1.000000   35.000000
max      3.000000    1.000000   80.000000

In [19]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [20]:
target=y

In [21]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test= train_test_split(x,target,test_size=0.3, random_state=42)

In [22]:
len(X_train)

623

In [23]:
len(X_test)

268

In [24]:
len(y_train)

623

In [25]:
len(y_test)

268

In [26]:
X_train.shape

(623, 3)

In [27]:
y_train.shape

(623,)

In [28]:
x.shape

(891, 3)

In [29]:
y.shape

(891,)

## perceptron

In [30]:
#1) initialize  weight , bias , learning_rate , epoch 
   # acn include this in fit function
#2)summazation z = dot [x+w] + b
#   y_pred=activation(z)                          # activation function is nothing but the step function,.... 
#   w += learning_rate * (y -y_pred) +x
#3) activation
#4)predict ... find accuracy
#5) then find classification report

In [31]:
import numpy as np

class Perceptron:
    def __init__(self, learning_rate, epochs):
        self.weight = None
        self.bias = None
        self.learning_rate = learning_rate
        self.epochs = epochs

    def activation(self, z):
        return np.heaviside(z, 0)

    def fit(self, X, y):
        n_samples, n_features = X.shape 
        self.weight = np.zeros(n_features)
        self.bias = 0

        for epoch in range(self.epochs):
            for i in range(n_samples):
                z = np.dot(X.iloc[i], self.weight) + self.bias
                y_pred = self.activation(z)

                # Updating weights and bias 
                self.weight += self.learning_rate * (y.iloc[i] - y_pred) * X.iloc[i]
                self.bias += self.learning_rate * (y.iloc[i] - y_pred)

    def predict(self, X):
        z = np.dot(X, self.weight) + self.bias
        return self.activation(z)

In [32]:
percept = Perceptron(0.01, 10)
percept.fit(X_train, y_train)

pred = percept.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.59      1.00      0.74       157
           1       1.00      0.02      0.04       111

    accuracy                           0.59       268
   macro avg       0.80      0.51      0.39       268
weighted avg       0.76      0.59      0.45       268

In [33]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score
from sklearn.datasets import load_iris

In [ ]:
##task 2

In [34]:
from sklearn.model_selection import  GridSearchCV

In [35]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

In [36]:
param_grid = {
    'alpha': [0.0001, 0.001, 0.01],
    'max_iter': [100, 200, 300],                ##defining the grid of hyperparameter
    'eta0': [0.1, 0.01, 0.001],
}

In [37]:
perceptron = Perceptron()

In [38]:
grid_search = GridSearchCV(perceptron, param_grid, cv=5, scoring='accuracy')

In [39]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=Perceptron(),
             param_grid={'alpha': [0.0001, 0.001, 0.01],
                         'eta0': [0.1, 0.01, 0.001],
                         'max_iter': [100, 200, 300]},
             scoring='accuracy')

In [40]:
print("Best Parameters:", grid_search.best_params_)
print("Best Cross-Validation Score:", grid_search.best_score_)

Best Parameters: {'alpha': 0.0001, 'eta0': 0.001, 'max_iter': 100}
Best Cross-Validation Score: 0.6777032258064517

In [41]:
best_perceptron = grid_search.best_estimator_
y_pred = best_perceptron.predict(X_test)
test_accuracy = accuracy_score(y_test, y_pred)
print("Test Accuracy:", test_accuracy)

Test Accuracy: 0.585820895522388